<ul reversed class="postlist w-full list-none pl-0 sm:pl-6"
  style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
  {% for post in postslist | reverse %}
  <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %} my-5 px-0 mx-0">
    <div class="grid grid-cols-10">
      
      <div class="align-text-bottom col-span-4 md:col-span-3 flex flex-row items-end ">
        <time class=" postlist-date "
        datetime="{{ post.date | postDate }}">{{ post.date | postDate }}</time>
      </div>
     
      <a href="{{ post.url | url }}" class="col-span-6 md:col-span-7">
        {% if post.data.title %}
        {{ post.data.title }}
        {% else %}
        <code>{{ post.url }}</code>
        {% endif %}
      </a>

      <div class="col-span-4 md:col-span-3 flex flex-col md:flex-row -mx-1">
        {% for tag in post.data.tags | filterTagList %}
        {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
        <a href="{{ tagUrl | url }}" class="px-1 font-light">{{ tag }}</a>
        {% endfor %}
      </div>

      <div class='col-span-6 md:col-span-7 text-gray-600 dark:text-gray-300 font-light'>
        {{ post.data.description }}
      </div>
    </div>
  </li>
  {% endfor %}
</ul>