{% from "components/feed-card.njk" import postListRow %}
<ul class="feed-list not-prose list-none m-0 p-0">
  {% for post in postslist | reverse %}
    {{ postListRow(post, collections.feed, { active: post.url == url }) }}
  {% endfor %}
</ul>
