{% if strava and strava.length > 0 %}
    {% set latest_activity = strava[0] %}
    <div class="strava-snippet">
        <h3>Latest Workout</h3>
        <p>
            <a href="{{ latest_activity.url }}" target="_blank" rel="noopener noreferrer">
                <strong>{{ latest_activity.name }}</strong>
            </a>
        </p>
        <p>{{ latest_activity.type }} &bull; {{ latest_activity.distance }} miles &bull; {{ latest_activity.moving_time }} minutes</p>
    </div>
{% endif %}
