---
layout: layouts/base.njk
pagination:
  data: collections.postFolders
  size: 1
  alias: folder
permalink: "{{ folder.url }}"
eleventyComputed:
  title: "{{ folder.displayPath }}"
---

{% include "components/breadcrumbs.njk" %}

{% set pageEyebrow = "Series Folder" %}
{% set pageTitle = folder.displayPath %}
{% set pageDescription = "Posts under the <strong>" ~ folder.displayPath ~ "</strong> folder." %}
{% set itemCount = folder.posts | length %}
{% set itemLabel = "posts" %}
{% include "components/page-header.njk" %}

{% set postslist = folder.posts %}
{% set url = page.url %}
{% include "postslist.njk" %}
