<!DOCTYPE html>
<html lang="{{ metadata.language }}" class="scroll-smooth">

<head>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <!-- 180×180 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-DKK1XXJY42"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-DKK1XXJY42");
  </script>

  <script>
    const isDarkMode = () =>
      localStorage.theme === "dark" ||
      (!("theme" in localStorage) &&
        window.matchMedia("(prefers-color-scheme: dark)").matches);
    if (isDarkMode()) {
      document.documentElement.classList.add("dark");
    } else {
      document.documentElement.classList.remove("dark");
    }
  </script>

  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title or metadata.title }}</title>
  <meta name="description" content="{{ description or metadata.description }}" />
  <meta name="generator" content="{{ eleventy.generator }}" />
  <link rel="stylesheet" href="{{ '/css/tailwind.css' | url }}" />
  <link href="/static/css/prism-a11y-dark.css" rel="stylesheet" />

  <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml"
    title="{{ metadata.title }}" />

  <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json"
    title="{{ metadata.title }}" />
</head>

<body class="bg-gray-50 dark:bg-gray-800 font-cp">
  <div class="md:max-w-prose mx-auto">
    <div class="prose prose-sm prose-blue dark:prose-a:text-blue-40 prose-h1:text-4xl prose-h1:my-5 prose-h2:my-4 dark:prose-invert px-4 md:px-0">
      <nav class="flex w-full py-8 justify-end">

        {% set navPages = collections.all | eleventyNavigation %}

        <div class='justify-between flex flex-row w-full'>

          <span class="transition-all justify-self-start mt-4 px-0">
            <a class="font-bold no-underline hover:underline" href="{{ '/' | url }}">{{ metadata.title }}</a>
          </span>

          <ul class="list-none mx-0 px-0">

            {%- for entry in navPages %}
            <span class="px-2 py-2 transition-all self-end">
              <a class="font-bold no-underline hover:underline" href="{{ entry.url }}">{{
                entry.title
                }}</a>
            </span>
            {%- endfor %}
          </ul>

        </div>
        <button id="toggleDarkMode" class="self-center font-bold p-1 sm:px-3 sm:py-2 transition-all">
          {% feather "moon" , class="block dark:hidden" %}
          {% feather "sun" , class="hidden dark:block"%}
        </button>

      </nav>

      <main {% if templateClass %} class="{{ templateClass }}" {% endif %}>

        {{ content | safe }}

        <script>
          document
            .getElementById("toggleDarkMode")
            .addEventListener("click", function () {
              console.log("Button Click!");
              if (isDarkMode()) {
                localStorage.theme = "light";
                document.documentElement.classList.remove("dark");
              } else {
                localStorage.theme = "dark";
                document.documentElement.classList.add("dark");
              }
            });
        </script>
      </main>

      <footer class="flex w-full pt-8 pb-8 flex-row justify-between">
        {% if spotify.nowPlaying %}
        <div class="flex items-center not-prose">
          <img id="track-image" class="w-10 h-10 rounded-full mr-2 animate-spin-slow"
            src="{{ spotify.nowPlaying.albumImageUrl }}" alt="Album Art">
          <div class=''>
            <a href={{ spotify.nowPlaying.songUrl }} target='_blank' class='hover:underline'>
              <p id="track-name" class="text-sm font-bold ">{{ spotify.nowPlaying.title }}</p>
            </a>
            <p id="artist-name" class="text-xs text-gray-400">{{ spotify.nowPlaying.artist }}</p>
          </div>
        </div>
        {% endif %}
        <div class='flex flex-row links'>

          <a class="self-center p-1 sm:px-3 sm:py-2  transition-all" href="https://www.linkedin.com/in/kartikeychauhan/"
            title="LinkedIn" alt="LinkedIn">{% feather "linkedin" %}</a>
          <a class="self-center p-1 sm:px-3 sm:py-2  transition-all" href="https://github.com/carteakey" title="GitHub"
            alt="GitHub">{% feather "github" %}</a>
        </div>
      </footer>
    </div>
  </div>
</body>

</html>