@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-*: initial;
  --font-serif: 'Inter', sans-serif;
  --font-et-book: et-book, serif;

  --animate-spin-slow: spin 7s linear infinite;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

*:focus {
  outline: 0px !important;
  -webkit-appearance: none;
}

@font-face {
  font-family: "et-book";
  src:
    url("/static/fonts/etbookot-roman-webfont.woff2") format("woff2"),
    url("/static/fonts/etbookot-roman-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "et-book";
  src:
    url("/static/fonts/etbookot-italic-webfont.woff2") format("woff2"),
    url("/static/fonts/etbookot-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "et-book";
  src:
    url("/static/fonts/etbookot-bold-webfont.woff2") format("woff2"),
    url("/static/fonts/etbookot-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
} 


.direct-link {
  display: none;
}

pre[class*="language-"],
code[class*="language-"] {
  /* white-space: normal; */
  /* overflow: auto;  */
  /* word-break: break-word; */
  font-size: 0.8rem !important;
} 

.project-card:hover {
  transform: scale(1.05);
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),`
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.project-card {
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}

/* hide quotes for quote blocks */
blockquote p::before {
  display: none;
}

blockquote p:after {
  display: none;
}

figure {
  text-align: center;
  display: table;
  margin: 10px auto; /* not needed unless you want centered */
}
