@tailwind base;
@tailwind components;
@tailwind utilities;

/* Defaults */
:root {
  --font-family: "IBM Plex Sans", -apple-system, system-ui, sans-serif;
  --font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono,
    Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New,
    Courier, monospace;
}

.postlist-date,
.postlist-item:before {
  color: var(--color-gray-90);
}
.postlist-date {
  word-spacing: -0.5px;
}
