---
layout: layouts/home.njk
title: Portfolio
redirect_from: /projects
templateClass: tmpl-post
eleventyNavigation:
  key: Portfolio
  order: 4
---
<h1>Portfolio</h1>
{{ templateClass | log }}
<p>
  Download my resume <a href="/static/Kartikey-Chauhan-Resume-2023.pdf">here</a>.
</p>

<hr class="-mt-1">


<h2 class="-mt-6" >Projects</h2>

<h3>Work</h3>
<p> 
  Below are some the of the key projects I've worked on my professional capacity.
</p>



<div class="grid md:grid-cols-2 gap-5">
  {% for project in projects_work.projects %}
    <div class="p-4 border-2 border-gray-200 shadow-sm dark:border-gray-600  flex flex-col">
      
      {% image project.image_path, alt=project.title %}

      <div class="flex flex-row justify-between">

      <a style="pointer-events: none; cursor: default;" title="View Project" >
        <h3 class="text-xl font-bold my-0">{{ project.title }}</h3>
      </a>

      {% if project.github %} 
      <a class="self-center   transition-all" title="View Code" href="{{ project.github }}"> 
        {% feather "code" %}
      </a>
      {% endif %}
    </div>
    <p class="my-1"> 
      {{ project.description }}
    </p>  
      <ul class="flex flex-row list-none text-sm mx-0 px-0 my-2">
        {% for tag in project.tags %}<li class="border p-1 mx-2">{{ tag }}</li>{% endfor %}
      </ul>

      <ul class="flex flex-col my-1"> 
        {% for point in project.points %}<li class="text-sm  mx-2">{{ point | safe }}</li>{% endfor %}
      </ul>
     
    </div>
  {% endfor %}
</div>

<h3>Personal</h3>
<p> 
  Here are some on the personal projects I've worked on.
</p>


<div class="grid md:grid-cols-2 gap-5">
  {% for project in projects.projects %}
    <div class="p-4 border-2 border-gray-200 shadow-sm dark:border-gray-600  flex flex-col">
      
      {% image project.image_path, alt=project.title %}

      <div class="flex flex-row justify-between">

      <a href=" {% if project.url %} {{ project.url }} {% endif %}" title="View Project" >
        <h3 class="text-xl font-bold my-0">{{ project.title }}</h3>
      </a>

      {% if project.github %} 
      <a class="self-center   transition-all" title="View Code" href="{{ project.github }}"> 
        {% feather "code" %}
      </a>
      {% endif %}
    </div>
    <p class="my-1"> 
      {{ project.description }}
    </p>  
      <ul class="flex flex-row list-none text-sm mx-0 px-0 my-2">
        {% for tag in project.tags %}<li class="border p-1 mx-2">{{ tag }}</li>{% endfor %}
      </ul>

      <ul class="flex flex-col my-1"> 
        {% for point in project.points %}<li class="text-sm  mx-2">{{ point | safe }}</li>{% endfor %}
      </ul>
     
    </div>
  {% endfor %}
  <div class="p-4 overflow-hidden items-center align-middle justify-center">
    <p>
      .. explore the rest on my
      <a href="https://github.com/carteakey?tab=repositories">github</a>
    </p>
  </div>
</div>

<h2 class="-mt-2">Certifications</h2>
<p>
  Here are some of the courses and certificates i've done.
</p>
<div class="grid grid-cols-2 md:grid-cols-4">
  {% for badge in badges.badges %}
  <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id= {{badge.badge_id}} data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
  {# <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="d18435bc-bc9f-45a3-bb5c-b6337bebdb9a" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
   #}
  {% endfor %} 
</div>
