---
permalink: /posts/
layout: layouts/base.njk
title: Blog
eleventyExcludeFromCollections: true
---

<meta http-equiv="refresh" content="0; url=/blog/">

<p class="text-gray-600 dark:text-gray-400">
  This page has moved to <a href="{{ '/blog/' | url }}" class="underline">/blog/</a>.
</p>
