---
templateClass: tmpl-post
layout: layouts/home.njk
title: Projects
redirect_from: /portfolio
eleventyNavigation:
  key: Projects
  order: 4
---

<h1>Projects</h1>
{# 
<h2>Work</h2>
<p>
  A showcase of some of the key projects I've worked on in my professional life.
</p>

<div class="grid md:grid-cols-3 gap-3">
  {% for project in projects_work.projects %}
  <div class=" py-0 px-1 border-2 border-gray-200 shadow-xs dark:border-gray-600  flex flex-col">

    {% image project.image_path, project.title ,"-mt-2 h-28 object-contain"%}

    <div class="flex flex-col items-center">
      <a href="{% if project.url %}{{ project.url }}{% endif %}" title="View Project">
        <h3 class="items-center font-bold -mt-2">{{ project.title }}</h3>
      </a>
      <p class="text-center text-sm/6 -mt-2 text-gray-600 dark:text-gray-300 ">
        {{ project.description }}
      </p>
    </div>
    <div class="flex flex-row justify-between -mt-7">
  
    <ul class="flex flex-row list-none text-xs mx-0 px-0 my-0">
      {% for tag in project.tags %}<li class="border p-1 mx-1 my-0">#{{ tag }}</li>{% endfor %}
    </ul>
    {% if project.github %}
    <a class="self-center float-right" title="View Code" href="{{ project.github }}">
      {% feather "code" %}
    </a>
    {% endif %}
  </div>
    <ul class="flex flex-col -mt-2">
      {% for point in project.points %}<li class="text-xs mx-2">{{ point | safe }}</li>{% endfor %}
    </ul>
  </div>
  {% endfor %}

</div> #}
{# <hr />
<h2>Personal</h2>
<p>
  
</p> #}

<div class="mx-auto">
  <div class="mb-8 p-4 bg-gray-100 dark:bg-gray-800 rounded">
  <p class="text-sm">
    Here are some of my personal projects
  </p>
</div>


<div class="grid md:grid-cols-3 gap-3">
  {% for project in projects.projects %}
  <div class=" py-0 px-1 border-2 border-gray-200 shadow-xs dark:border-gray-600  flex flex-col">

    {% image project.image_path, project.title ,"-mt-2 h-28 object-contain"%}

    <div class="flex flex-col items-center">
      <a href="{% if project.url %}{{ project.url }}{% endif %}" title="View Project">
        <h4 class="items-center font-bold -mt-2">{{ project.title }}</h4>
      </a>
      <p class="text-center text-xs -mt-2 text-gray-600 dark:text-gray-300 ">
        {{ project.description }}
      </p>
    </div>
    <div class="flex flex-row justify-between -mt-2">
  
    <ul class="flex flex-row list-none text-xs mx-0 px-0 my-0">
      {% for tag in project.tags %}<li class="border p-1 mx-1 my-0">#{{ tag }}</li>{% endfor %}
    </ul>
    {% if project.github %}
    <a class="self-center float-right" title="View Code" href="{{ project.github }}">
      {% feather "code" %}
    </a>
    {% endif %}
  </div>
    {# <ul class="flex flex-col">
      {% for point in project.points %}<li class="text-sm mx-2">{{ point | safe }}</li>{% endfor %}
    </ul> #}
  </div>
  {% endfor %}
  {# <div class="p-4 overflow-hidden items-center align-middle justify-center">
    <p>
      .. explore the rest on my
      <a href="https://github.com/carteakey?tab=repositories">github</a>
    </p>
  </div> #}
</div>
<hr />
<h2>GitHub Activity</h2>
<div class="not-prose">
  <p class="text-gray-600 dark:text-gray-400 mb-4">
    My contribution activity on GitHub over the past year.
  </p>
  
  <div class="bg-white dark:bg-gray-800 p-4 rounded-lg border border-gray-200 dark:border-gray-700">
    {% include "components/github-contributions.njk" %}
    <p class="text-xs text-gray-500 dark:text-gray-400 mt-2 text-center">
      Data sourced live from <a href="https://github.com/carteakey" class="hover:underline">GitHub activity</a>.
    </p>
  </div>
</div>

<hr />
<h2>Projects on GitHub</h2>
<p>
  Here are the rest of my projects on <a href="https://github.com/carteakey?tab=repositories">GitHub</a>.
</p>
<table>
  <thead>
    <tr>
      <th>Updated</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody id="repoTableBody">
    {% for repo in github.repos %}
    <tr>
      <td class="">
        <time class=" postlist-date">{{ repo.repo_updated | formatDate }}</time>
      </td>

      <td>
        <a href="{{ repo.repo_url }}">
          {{ repo.repo_name }}
        </a>
      </td>
      <td>
        {{ repo.repo_description }}
      </td>


    </tr>
    {% endfor %}
  </tbody>
</table>
