---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
Disallow: /stats/
Disallow: /changelog/
Disallow: /now/archive/
Disallow: /colophon/
Disallow: /admin/
Disallow: /search/

Sitemap: {{ metadata.url }}sitemap.xml
Sitemap: {{ metadata.url }}sitemap-index.xml
