---
pagination:
  data: collections.tagList
  size: 1
  alias: tag
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
---


{% set pageEyebrow = "Tagged Content" %}
{% set pageTitle = "Tagged “" ~ tag ~ "”" %}
{% set pageDescription = "All posts tagged with <strong>#" ~ tag ~ "</strong>." %}
{% set rawPostsList = collections[ tag ] %}
{% set postslist = [] %}
{% for post in rawPostsList %}
  {% if showHiddenContent or not post.data.hidden %}
    {% set postslist = (postslist.push(post), postslist) %}
  {% endif %}
{% endfor %}
{% set itemCount = postslist | length %}
{% set itemLabel = "posts" %}
{% include "components/page-header.njk" %}

{% include "postslist.njk" %}

<p class="mt-6">
  See <a href="{{ '/tags/' | url }}" class="editorial-meta-link">all tags</a>.
</p>
