---
layout: layouts/home.njk
title: Projects
templateClass: tmpl-post
eleventyNavigation:
  key: Projects
  order: 4
---

<h1>Projects</h1>

<div class="grid md:grid-cols-2 gap-4">
  {% for project in projects %}
  <div
    class="project-card p-4 border-2 border-gray-200 dark:border-gray-600 rounded-lg overflow-hidden flex flex-col"
  >
    <a href="{{ project.url }}" class="no-underline">
      <div class="w-full h-44 items-stretch">
        {% image project.image_path, alt=project.title %}
      </div>
    </a>

    <h3 class="text-xl font-bold mb-2">{{ project.title }}</h3>
    <p class="text-md mb-2">{{ project.description }}</p>

    {# {% for tag in project.tags %}
    <i>#{{ tag }}</i>
    {% endfor %} #}

    <div class="place-self-end flex flex-row justify-end">
      {% if project.github %}
      <a href="{{ project.github }}">
        <button
          class="self-center font-bold rounded-md p-1 sm:px-2 sm:py-2 hover:bg-gray-200 hover:dark:bg-gray-600 transition-all"
        >
          {% feather "github" %}
        </button>
      </a>
      {% endif %}
      <a href="{{ project.url }}">
        <button
          class="self-center font-bold rounded-md p-1 sm:px-2 sm:py-2 hover:bg-gray-200 hover:dark:bg-gray-600 transition-all"
        >
          {% feather "external-link" %}
        </button>
      </a>
    </div>
  </div>
  {% endfor %}
</div>
